*
{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    font-family: "ohno-softie-variable", sans-serif, Verdana;
    font-variation-settings: "wght" 300;
}
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    z-index: 10;
    background-color: #3b5a82;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
header #navigation 
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}
header #navigation li 
{
    list-style: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
}
header #navigation li a
{
    color: #f5efe6;
    text-decoration: none;
    font-size: 20px;
    font-family: "ohno-softie-variable", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.banner{
    background: #f5efe6;
    padding: 200px 150px 100px;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.banner .content{
    max-width: 700px;
}
.banner .content h2{
    font-size: 40px;
    color: #293241;
}
.banner .content p {
    font-size: 20px;
    color: #293241;
    font-family: Tahoma;
}
.banner .content i {
    font-size: 50px;
}
.banner .images {
    max-width: 450px;
}
.banner2{
    background: #3b5a82;
    padding: 200px 150px 100px;
    display: flex;
    min-height: 100vh;
    justify-content: left;
    align-items: center;
}
.banner2 .content{
    max-width: 600px;
}
.banner2 .content h2{
    font-size: 40px;
    color: #f5efe6;
}
.banner2 .content p {
    font-size: 20px;
    color: #f5efe6;
    font-family: Tahoma;
}
.banner2 .images {
    max-width: 600px;

}
.banner3{
    background: #f5efe6;
    padding: 200px 150px 100px;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.banner3 .content{
    max-width: 700px;
}
.banner3 .content h2{
    font-size: 40px;
    color: #293241;
}
.banner3 .content p {
    font-size: 20px;
    color: #293241;
    font-family: Tahoma;
}
.banner3 .content i {
    font-size: 50px;
}

